body {
  background-color: #c7c7a6;
}

h2 {
    text-align: center;
    color: #A2A4A7;
    margin-top: 15px;
    margin-bottom: 30px;
}

#work h2 {
    margin-bottom: 50px;
}

.navbar {
    margin-bottom: 100px;
}

.row {
    /* max-width: 1100px;
    margin: 0 auto; */
    margin-top: 55px;
}

.white-text {
    color: white;
}

.yellow-text {
    color: #a49966;
}

.card-deck {
    justify-content: space-around;
}

.card-body {
    background-color: #343A40;
}

.btn-secondary {
    border: 1px solid #d6bb44;
    color: #d6bb44;
}

.btn-secondary:hover {
    border: 1px solid #ffffff;
    background-color: #d6bb44;
}

.btn-work {
    border: 1px solid #010101;
    color: #ffffff;
    background-color: #010101;
}

.btn-work:hover {
    color: #d6bb44;
}

.button-div {
    text-align: center;
    margin-top: 20px;
}

#hello, #codeblock{
    background-color: #010101;
}

#hello {
    background-image: url('../images/marat-gilyadzinov-69BTCuFDuDA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 460px;
}

#codeblock{
    padding-left: 30px;
    color: #d6bb44;
    font-family: 'Courier New', Courier, monospace;
}

#reach-out{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
#lead-text {
    text-align: center;
    /* display: none; */
    margin-top: 15px;
}

#work,
#about,
#contact {
    /* max-width: 1100px; */
    padding: 50px 50px;
    /* margin: 0 auto; */
}

#work {
    background-color: #010101;
    color: #ffffff;
}

#about {
    background-color: #010101;
    color: #A2A4A7;
}

#second-row {
    display: none;
}

#less-work {
    display: none;
}
#heidi {
    width: 95%;
    max-width: 398px;
}
#contact {
    color: #ffffff;
    background-color: #343A40;
}

@media (max-width:576px) {
    #codeblock{
        margin-top: 0px;
    }
}

@media (min-width: 1400px) {
    #codeblock{
        padding-left: 120px;
        font-size: 1.3em;
    }
    #hello {
        background-position: 0px -80px;
    }
    #lead-text {
        margin-top: 40px;
        font-size: 1.2em;
    }
}