body {
  background-color: #c7c7a6;
}

.white-text {
    color: white;
}

.yellow-text {
    color: #a49966;
}

#hello, #codeblock{
    background-color: #605c4e;
    color: #d6bb44;
    font-family: 'Courier New', Courier, monospace;
}

#hello {
    background-image: url('../images/marat-gilyadzinov-69BTCuFDuDA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}

#codeblock{
    padding-left: 30px;
}

#photo-credit{
    vertical-align: bottom;
}

@media (min-width: 1000px) {
    #codeblock{
        padding-left: 60px;
    }
}