body {
  background-color: #c7c7a6;
}

h2 {
    text-align: center;
    color: 605c4e;
    margin-top: 15px;
    margin-bottom: 30px;
}

#work h2 {
    margin-bottom: 50px;
}

.row {
    max-width: 1100px;
    margin: 0 auto;
}

.white-text {
    color: white;
}

.yellow-text {
    color: #a49966;
}

.card-deck {
    justify-content: space-around;
}

.card-body {
    background-color: #a49966;
}

#hello, #codeblock{
    background-color: #605c4e;
}

#hello {
    background-image: url('../images/marat-gilyadzinov-69BTCuFDuDA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}

#codeblock{
    padding-left: 30px;
    color: #d6bb44;
    font-family: 'Courier New', Courier, monospace;
}

#photo-credit{
    margin-top: 156px;
    margin-left: -13px;
}

#reach-out{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
#lead-text {
    text-align: center;
    display: none;
    margin-top: 15px;
}

#work,
#about,
#contact {
    max-width: 1100px;
    padding: 50px 50px;
    margin: 0 auto;
}

#work {
    background-color: #F4EDDB;
}

#about {
    background-color: #605c4e;
    color: #a49966;
}

#second-row {
    display: none;
}

#less-work {
    display: none;
}
#heidi {
    width: 95%;
}
#contact {
    color: #605c4e;
    background-color: #a49966;
}


@media (min-width: 1000px) {
    #codeblock{
        padding-left: 60px;
    }
    #photo-credit{
        margin-top: 101px;
    }
    #lead-text {
        display: block;
    }
}